<h1>Welcome {{ email.toName }}!</h1>

<p>
    An account was created with the following username:
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    Your password is:
</p>
<p><code>{{ password }}</code></p>
